@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');

//*******Variables******//
$bodyFont:  'Rubik', sans-serif;
$headerFont: 'Onest', sans-serif;
$blue: #0277fa;
$hoverBlue: #0a4fb7;
$darkBlue: #0e2249;
$text: #57585b;
$light: rgb(248, 242, 242);
$footer: #1a2433;
$white: #fff;
$transition: .4s ease;